<ion-content color="dark">
  <div style="margin: auto; text-align: center; margin-top: 15%;">
      <img src="https://occ-0-448-2705.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABbJzFEG1afChq7HkvmEZOI1ACxo5jeBPQnCWvz33F7Sw6uyEVhCYIbFhqg50SJwFSyDAoUJnKRG0VxbGUpwKZxwyXWbD2XeqpPTt.png?r=d90" style="height: 180px; width: 240px;">
  </div>
  
  <h1 style='margin-top:10%; text-align: center;'>Login</h1>

  <div class="inputBlock">
    <ion-input type='text' [(ngModel)]='username' placeholder='Username'></ion-input>
    <ion-input type='password' [(ngModel)]='password' placeholder='Password'></ion-input>
  </div>
  
  <div style="width: 300px; margin: auto; margin-top: 20px;">
    <ion-button expand='block' color="warning" (click)="login()">Login</ion-button>
    <ion-button expand='full' color="warning" fill='clear' routerLink="/register/" routerDirection="forward">Register</ion-button>
  </div>
</ion-content>
