<ion-header>
  <ion-toolbar color="dark">
      <ion-button fill='clear' slot='start'>
        <ion-back-button defaultHref='/'></ion-back-button>
      </ion-button>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div style="margin: auto; text-align: center; margin-top: 5%;">
      <img src="https://occ-0-448-2705.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABbJzFEG1afChq7HkvmEZOI1ACxo5jeBPQnCWvz33F7Sw6uyEVhCYIbFhqg50SJwFSyDAoUJnKRG0VxbGUpwKZxwyXWbD2XeqpPTt.png?r=d90" style="height: 180px; width: 240px;">
  </div>

  <div class="inputBlock">
    <ion-input type='text' [(ngModel)]='username' placeholder='Username'></ion-input>
    <ion-input type='password' [(ngModel)]='password' placeholder='Password'></ion-input>
    <ion-input type='password' [(ngModel)]='cpassword' placeholder='Confirm Password'></ion-input>
  </div>
  <div style="width: 300px; margin: auto; margin-top: 20px;">
    <ion-button expand='block' (click)='register()'>Register</ion-button>
  </div>
</ion-content>
